
<div class="book-list">

    <book-search (search)="SearchHandler($event)"></book-search>

    <ul>

        <li class="book" 
            *ngFor="let book of books | bookSearch:bookSearchQuery"
            (click)="SelectBook(book);">

            <span class="current-book"
                  [ngClass]="{ 'selected-book': book.isSelected }"></span>

            <div class="book-info">

                <h3 class="book-title">{{ book.title }}</h3>

                <p class="book-description">{{ book.description }}</p>

            </div>

            <span class="book-date-created">{{ book.dateCreated }}</span>

        </li>

    </ul>

</div>