
<div class="secondary-sidebar-wrap">

    <div class="book-list">

        <book-search (search)="SearchHandler($event)"></book-search>

        <div class="book-create"
             (click)="CreateEmptyBook();">

            <span class="ion-md-add create-icon"></span>

            <span>Create New Book</span>

        </div>

        <ul>

            <li class="book" 
                *ngFor="let book of books | bookSearch:bookSearchQuery"
                (click)="SelectBook(book);"
                [ngClass]="{ 'editable-book': !!book.isNewer }"
                [routerLink]="['/home/books', book.id, 'pages']">

                <span class="current-book"
                      [ngClass]="{ 'selected-book': book.isSelected }"></span>

                <div class="book-info">
                    
                    <!--TODO: move to different tamplates-->
                    <div *ngIf="!book.isNewer">

                        <h3 class="book-title">{{ book.title }}</h3>

                        <p class="book-description">{{ book.description }}</p>

                    </div>

                    <div *ngIf="!!book.isNewer">
                        
                        <input type="text"
                               class="book-edit-title" 
                               placeholder="Book title..."
                               [(ngModel)]="book.title" />

                        <input type="text"
                               class="book-edit-description"
                               placeholder="Book description..."
                               [(ngModel)]="book.description" />

                    </div>

                </div>

                <span class="book-date-created"
                      *ngIf="!book.isNewer">{{ book.dateCreated }}</span>

                <span class="editable-book-controls control-save ion-md-checkmark"
                      *ngIf="!!book.isNewer"
                      (click)="SaveEmptyBookChanges(book);"></span>
                    
                <span class="editable-book-controls control-discard ion-md-trash"
                      *ngIf="!!book.isNewer"
                      (click)="DiscardEmptyBookChanges(book);"></span>

            </li>

        </ul>

    </div>

</div>

<div class="content">

    <router-outlet></router-outlet>

</div>