
<div class="secondary-sidebar-wrap book-editor">

    <div class="editor-content">

        <div class="row">

            <div class="column">

                <input type="text" 
                       placeholder="Write your book title..."
                       [(ngModel)]="book.title" />

            </div>

        </div>

        <div class="row">

            <div class="column">

                <textarea placeholder="Write your book description..."
                          [(ngModel)]="book.descriprion"></textarea>

            </div>

        </div>

    </div>

</div>