
.secondary-sidebar-wrap {

    position: fixed;

    top: 0;

    left: 60px;

    bottom: 0;

    width: 350px;

    background-color: #2979fb;

    color: #ffffff;

}

.secondary-sidebar-wrap .secondary-sidebar {

    margin: 0;

    padding: 0;

    list-style: none;

}

.secondary-sidebar-wrap .secondary-sidebar-item {

    padding: 10px;

}